:root {
  --primary-color--: white;
  --accent-color--: black;
  --branding-color--: orange;

  --bar-color-1--: #f03a17;
  --bar-color-2--: #fce100;
  --bar-color-3--: #bad80a;
}

body {
  margin: 40px auto;
  max-width: 600px;
  background-color: #ddd;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
.pomo-card {
  background-color: rgba(255, 255, 255, 0.304);
  margin: 10px 0px;
  padding: 0 10px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
}

.pomo {
  padding: 5px;
  margin: 3px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px var(--branding-color--);
  text-align: center;
  align-self: center;
  width: 60px;
}

.bar {
  background-color: yellowgreen;
  margin: 5px;
  align-self: center;
  flex-grow: 1;
}

.bar1 {
  background-color: var(--bar-color-1--);
}

.bar2 {
  background-color: var(--bar-color-2--);
}

.bar3 {
  background-color: var(--bar-color-3--);
}

.percent {
  width: 60px;
  align-self: center;
  text-align: center;
}
