@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font--: Nunito;
  --primary-color--: white;
  --secondary-color--: black;
  --branding-color--: orange;
}

body {
  font-family: var(--primary-font--);
  max-width: 600px;
  margin: 40px auto;
  background-color: var(--primary-color--);
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--secondary-color--);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar {
  background-color: whitesmoke;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(148, 147, 147, 0.54);
  margin: 10px 0 10px 0;
}

.pomo {
  font-family: "Noto Color Emoji", sans-serif;
  aspect-ratio: 1 / 1.25;
}

.pomo:hover {
  cursor: zoom-in;
  scale: 1.3;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.counts {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-shadow: silver 0px 0px 5px;
  aspect-ratio: 1 / 1;
  justify-content: center;
}

.counts:hover {
  cursor: none;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.counter {
  font-family: "Noto Color Emoji", sans-serif;
  aspect-ratio: 1 / 1;
  padding: 10%;
}

.counter-icon:hover {
  -webkit-filter: drop-shadow(0 0 0.75rem silver);
  animation: rotate 1s ease-in-out 2ms 1 normal none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
